.BuildControls{
	width: 100%;
	background-color: #cf8f2e;
	flex-flow: column wrap;
	align-items: center;
	align-content: center;
	box-shadow: 0 2px 10px #ccc;
	margin: auto;
	padding: 1rem;

}
.BuildControls p{
	text-align: center;
	font-size: 1.2rem;
	font-weight: bold;
}

.OrderButton{
	font-size: 1.5rem;
	padding: 1rem;
	box-shadow: none;
	outline: none;
	color: white;
	margin: 1rem auto;
	background: seagreen;
	border: none;
	display: block;
	cursor: pointer;

}
.OrderButton:hover{
	background: rgb(34, 112, 68)
}

.OrderButton:disabled{
	cursor: not-allowed;
	background: #666;
}